<html>
<head>
  <title>HI!</title>
  {% includeCssResource "/auditr/css/style.css" %}
  {% includeCssResource "/auditr/css/export.css" %}
</head>
<body>
{% macro pl(count, single, plural) %}
  {{ count == 1 ? single : plural|default(single ~ 's') }}
{% endmacro %}
{% from _self import pl %}

<div class="Export-render">
  <header class="Export-render__header">
    <h1 class="Expoer-render__title">Auditr</h1>
  </header>

  <div class="Export-render__content">
    <div class="Section">
      <h2 class="Section__header">Basic Info</h2>
      <dl class="Section__list Section__list--defs">
        {% set info = craft.auditr.getInfo() %}
        <dt class="Section__list-title Section__list-title--gray">Site Name:</dt>
        <dd class="Section__list-item Section__list-item--gray"> {{ info.siteName }}</dd>
        <dt class="Section__list-title">Site URL:</dt>
        <dd class="Section__list-item">{{ info.siteUrl }}</dd>
      </dl>
    </div>

    <div class="Section">
    <h2 class="Section__header">Server</h2>
      <dl class="Section__list Section__list--defs">
        {% set serverInfo = craft.auditr.getServerInfo() %}
        <dt class="Section__list-title Section__list-title--gray">Software:</dt>
        <dd class="Section__list-item Section__list-item--gray">{{ serverInfo.software }}</dd>
        <dt class="Section__list-title">Operating System:</dt>
        <dd class="Section__list-item">{{ serverInfo.os }}</dd>
        <dt class="Section__list-title Section__list-title--gray">PHP Version:</dt>
        <dd class="Section__list-item Section__list-item--gray">{{ serverInfo.phpVersion }}</dd>
        <dt class="Section__list-title">Document Root:</dt>
        <dd class="Section__list-item">{{ serverInfo.documentRoot }}</dd>
        <dt class="Section__list-title Section__list-title--gray">Craft Version:</dt>
        <dd class="Section__list-item Section__list-item--gray">{{ serverInfo.craftVersion }}</dd>
      </dl>
    </div>

    <div class="Section">
      <h2 class="Section__header">.htaccess</h2>
      <pre class="Section__mono visible">{{ craft.auditr.getHtaccess() }}</pre>
    </div>

    <div class="Section">
      <h2 class="Section__header">Routes</h2>
      <dl class="Section__list Section__list--defs Section__list--defs-large">
        {% set routes = craft.auditr.getRoutes() %}
        {% for route in routes %}
        <dt class="Section__list-title {{ cycle(['Section__list-title--gray', ''], loop.index0) }}">
          {% for segment in route.urlParts %}
            {% if segment is not iterable %}
              {{ segment }}
            {% else %}
              <span class="Section__bubble">{{ segment[0] }}</span>
            {% endif %}
          {% endfor %}
        </dt>
        <dd class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
          {{ route.template }}
        </dd>
        {% else %}
          No routes
        {% endfor %}
      </dl>
    </div>

    <div class="Section">
      <h2 class="Section__header">Entries</h2>
      {% set entryInfo = craft.auditr.getEntriesInfo() %}
      <p>{{ entryInfo.count }} {{ pl(entryInfo.count, 'entry', 'entries') }} and {{ entryInfo.draftsCount }} {{ pl(entryInfo.draftsCount, 'draft') }} by
      {{ entryInfo.entryCountByAuthor|length }} {{ pl(entryInfo.entryCountByAuthor|length, 'author') }}</p>
      <p>Most recent entry: {{ entryInfo.mostRecentEntry.dateCreated|date('m/d/Y') }}</p>
      <dl class="Section__list Section__list--defs">
        {% for key, author in entryInfo.entryCountByAuthor %}
          <dt class="Section__list-title {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ author.username ?: 'null' }}</dt>
          <dd class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ author.count }}</dd>
        {% endfor %}
      </dl>
    </div>

    {% set sectionTypes = craft.auditr.getSectionsByType() %}
    {% for sectionType, sections in sectionTypes %}
    <div class="Section">
      <h2 class="Section__header">{{ sectionType }}</h2>
      <dl class="Section__list Section__list--defs">
      {% for section in sections %}
        <dt class="Section__list-title {% if sectionType == "Singles" %}Section__list-title--full{% endif %} {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
          {{ section.name }}
        </dt>
        {% if sectionType != "Singles" %}
        <dd class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
            {{ section.entryCount }} {{ pl(section.entryCount, 'entry', 'entries') }}
        </dd>
        {% endif %}
      {% endfor %}
      </dl>
    </div>
    {% endfor %}

    <div class="Section">
      <h2 class="Section__header">Globals</h2>
      {% set globalSets = craft.auditr.getGlobals() %}
      <ul class="Section__list">
        {% for set, fields in globalSets %}
          <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ set }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="Section">
      <h2 class="Section__header">Plugins</h2>
      <ul class="Section__list">
        {% set plugins = craft.auditr.getPlugins() %}
        {% for plugin in plugins %}
          <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ plugin.name }}</li>
        {% endfor %}
      </ul>
    </div>

    {% set userGroups = craft.auditr.getUsers() %}
    {% for groupName, users in userGroups %}
    <div class="Section">
      <h2 class="Section__header">{{ groupName }}</h2>

      <dl class="Section__list Section__list--defs">
        {% for user in users %}
          <dt class="Section__list-title {{ cycle(['Section__list-title--gray', ''], loop.index0) }}">
            {% if user.firstName and user.lastName %}{{ user.firstName }} {{ user.lastName }}{% endif %}
          </dt>
          <dd class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
            {{ user.username }}
          </dd>
        {% else %}
          No data
        {% endfor %}
      </dl>
    </div>
    {% endfor %}

    <div class="Section">
      <h2 class="Section__header">Updates</h2>
      {% set updates = craft.auditr.getUpdates() %}
      <ul class="Section__list">
        <li class="Section__list-item Section__list-item--holder">
          <h3 class="Section__subheader">Craft</h3>
          <ul class="Section__list">
            {% for update in updates.app.releases %}
              <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
                <h4 class="Section__subheader">Version {{ update.version }}, released {{ update.date }}</h4>
                <div class="Section__paragraph">{{ update.notes|raw }}</div>
              </li>
            {% endfor %}
          </ul>
          {% for plugin in updates.plugins %}
            {% if plugin.releases|length %}
              <h3 class="Section__subheader">{{ plugin.displayName }}</h3>
              <ul class="Section__list">
              {% for update in plugin.releases %}
                <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
                  <h4 class="Section__subheader">Version {{ update.version }}, released {{ update.date }}</h4>
                  <div class="Section__paragraph">{{ update.notes|raw }}</div>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</div>


</body>
</html>
