<html>
<head>
  <title>Auditr</title>
<style>
    table {
      border-spacing: 0;
    }

    ul {
      list-style: none;
    }

    .Export {
      background: #da5a47;
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      margin: 20px 0 10px;
      padding: 10px 20px;
      text-decoration: none;
      transition: 0.3s;
    }

    .Export:hover {
      background: #b94c3d;
      text-decoration: none;
    }

    .Section * {
      box-sizing: border-box;
    }

    .Section {
      padding-top: 20px;
    }

    .Section,
    .Section__list {
      margin: 1em 0;
    }

    .Section__header,
    .Section__subheader {
      color: #29323d;
    }

    .Section__header {
      border-bottom: 1px solid #cdcdcd;
      font-size: 16px;
      padding: 0.5em 0;
    }

    .Section__subheader {
      font-size: 14px;
    }

    .Section__list--defs-list {
      margin-bottom: 20px;
      width: 75%;
    }

    .Section__list--defs .Section__list-title {
      width: 160px;
    }

    .Section__list--defs .Section__list-title,
    .Section__list--defs-list .Section__list-title {
      font-weight: bold;
    }

    .Section__list--defs-list .Section__list-title {
      margin-right: 20px;
      margin-top: 20px;
      padding: 5px;
    }

    .Section__list--defs-list .Section__list-item {
      padding: 5px;
    }

    .Section__list--defs-large .Section__list-title {
      width: 200px;
    }

    .Section__list-title,
    .Section__list-item {
      padding: 10px;
    }

    .Section__list-icon {
      margin: 0 5px 0 0;
      width: 20px;
    }

    .Section__list-item--holder {
      padding: 50px 0 30px;
      border-bottom: solid 1px #ddd;
    }

    .Section__list-item--holder:first-of-type {
      padding-top: 20px;
    }

    .Section__list-item--holder:last-of-type {
      border-bottom: 0;
    }

    .Section__list-title--gray,
    .Section__list-item--gray {
      background: #eee;
    }

    [data-toggle] {
      display: block;
      margin-bottom: 5px;
    }

    .Section__mono {
      background: #eeeeee;
      display: none;
      font-family: monospace;
      padding: 1em;
    }

    .Section__mono.visible {
      display: inline-block;
    }

    .Section__bubble {
      background-color: #dedede;
      border-radius: 10px;
      padding: 2px 8px;
    }

    .Section__table-cell {
      padding: 5px 5px 5px 0;
    }

    .Section__error {
      color: #da5a47;
    }

    .Section--pageSpeed .Section__subheader {
      border-bottom: 1px solid #29323d;
      display: inline-block;
      padding-bottom: 2px;
    }

    .Speed-score {
      padding: 20px 0;
    }

    .Speed-score__score {
      border-radius: 50%;
      color: #ffffff;
      display: inline-block;
      font-size: 24px;
      line-height: 100%;
      margin: 0;
      padding: 20px;
    }

    .Speed-score--poor .Speed-score__score {
      background-color: #da5a47;
    }

    .Speed-score--needsWork .Speed-score__score {
      background-color: #fda100;
    }

    .Speed-score--good .Speed-score__score {
      background-color: #009a2d;
    }

    [data-spinner] {
      animation: spin 0.75s linear infinite;
      background: transparent;
      border-radius: 50%;
      border-top: 2px solid #da5a47;
      box-sizing: border-box;
      display: inline-block;
      height: 30px;
      width: 30px;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    p {
      margin: 20px 0;
    }

    .Export-render {
      padding: 40px 20px;
    }

    .Export-render__header {
      text-align: center;
    }

    .Expoer-render__title {
      color: #da5a47;
    }

    .Export-render .Section {
      font-size: 14px;
    }

    .Export-render .Section__header {
      color: #da5a47;
      border-color: #da5a47;
      font-size: 18px;
    }

    .Export-render .Section__mono {
      margin-top: 14px;
    }

    .Export-render .Section__paragraph ul {
      margin: 10px 0 0 20px;
    }

    .Export-render .Section__paragraph ul li {
      margin: 5px 0;
    }

</style>
</head>
<body>
{% macro pl(count, single, plural) %}
  {{ count == 1 ? single : plural|default(single ~ 's') }}
{% endmacro %}
{% from _self import pl %}

<div class="Export-render">
  <header class="Export-render__header">
    <h1 class="Expoer-render__title">Auditr</h1>
  </header>

  <div class="Export-render__content">
    <div class="Section">
      <h2 class="Section__header">Basic Info</h2>
      <table class="Section__list Section__list--defs">
        {% set info = craft.auditr.getInfo() %}
        <tr>
          <td class="Section__list-title Section__list-title--gray">Site Name:</td>
          <td class="Section__list-item Section__list-item--gray"> {{ info.siteName }}</td>
        </tr>
        <tr>
          <td class="Section__list-title">Site URL:</td>
          <td class="Section__list-item">{{ info.siteUrl }}</td>
        </tr>
      </table>
    </div>

    <div class="Section">
    <h2 class="Section__header">Server</h2>
      <table class="Section__list Section__list--defs">
        {% set serverInfo = craft.auditr.getServerInfo() %}
        <tr><td class="Section__list-title Section__list-title--gray">Software:</td>
        <td class="Section__list-item Section__list-item--gray">{{ serverInfo.software }}</td></tr>
        <tr><td class="Section__list-title">Operating System:</td>
        <td class="Section__list-item">{{ serverInfo.os }}</td></tr>
        <tr><td class="Section__list-title Section__list-title--gray">PHP Version:</td>
        <td class="Section__list-item Section__list-item--gray">{{ serverInfo.phpVersion }}</td></tr>
        <tr><td class="Section__list-title">Document Root:</td>
        <td class="Section__list-item">{{ serverInfo.documentRoot }}</td></tr>
        <tr><td class="Section__list-title Section__list-title--gray">Craft Version:</td>
        <td class="Section__list-item Section__list-item--gray">{{ serverInfo.craftVersion }}</td></tr>
      </table>
    </div>

    <div class="Section">
      <h2 class="Section__header">.htaccess</h2>
      <pre class="Section__mono visible">{{ craft.auditr.getHtaccess() }}</pre>
    </div>

    <div class="Section">
      <h2 class="Section__header">Routes</h2>
      <table class="Section__list Section__list--defs Section__list--defs-large">
        {% set routes = craft.auditr.getRoutes() %}
        {% for route in routes %}
        <tr><td class="Section__list-title {{ cycle(['Section__list-title--gray', ''], loop.index0) }}">
          {% for segment in route.urlParts %}
            {% if segment is not iterable %}
              {{ segment }}
            {% else %}
              <span class="Section__bubble">{{ segment[0] }}</span>
            {% endif %}
          {% endfor %}
        </td>
        <td class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
          {{ route.template }}
        </td></tr>
        {% else %}
          No routes
        {% endfor %}
      </table>
    </div>

    <div class="Section">
      <h2 class="Section__header">Entries</h2>
      {% set entryInfo = craft.auditr.getEntriesInfo() %}
      <p>{{ entryInfo.count }} {{ pl(entryInfo.count, 'entry', 'entries') }} and {{ entryInfo.draftsCount }} {{ pl(entryInfo.draftsCount, 'draft') }} by
      {{ entryInfo.entryCountByAuthor|length }} {{ pl(entryInfo.entryCountByAuthor|length, 'author') }}</p>
      <p>Most recent entry: {{ entryInfo.mostRecentEntry.dateCreated|date('m/d/Y') }}</p>
      <table class="Section__list Section__list--defs">
        {% for key, author in entryInfo.entryCountByAuthor %}
          <tr><td class="Section__list-title {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ author.username ?: 'null' }}</td>
          <td class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ author.count }}</td></tr>
        {% endfor %}
      </table>
    </div>

    {% set sectionTypes = craft.auditr.getSectionsByType() %}
    {% for sectionType, sections in sectionTypes %}
    <div class="Section">
      <h2 class="Section__header">{{ sectionType }}</h2>
      <table class="Section__list Section__list--defs">
      {% for section in sections %}
        <tr><td class="Section__list-title {% if sectionType == "Singles" %}Section__list-title--full{% endif %} {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
          {{ section.name }}
        </td>
        {% if sectionType != "Singles" %}
        <td class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
            {{ section.entryCount }} {{ pl(section.entryCount, 'entry', 'entries') }}
        </td></tr>
        {% endif %}
      {% endfor %}
      </table>
    </div>
    {% endfor %}

    <div class="Section">
      <h3 class="Section__header">Globals</h3>
      {% set globalSets = craft.auditr.getGlobals() %}
      <ul class="Section__list">
        {% for set, fields in globalSets %}
          <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
            <h3 class="Section__subheader">{{ set }}</h3>
          </li>
          <ul>
            {% for field in fields %}
              <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.parent.loop.index0) }}">
                - {{ field }}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </div>

    <div class="Section">
      <h2 class="Section__header">Plugins</h2>
      <ul class="Section__list">
        {% set plugins = craft.auditr.getPlugins() %}
        {% for plugin in plugins %}
          <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">{{ plugin.name }}</li>
        {% endfor %}
      </ul>
    </div>

    {% set userGroups = craft.auditr.getUsers() %}
    {% for groupName, users in userGroups %}
    <div class="Section">
      <h2 class="Section__header">{{ groupName }}</h2>

      <table class="Section__list Section__list--defs">
        {% for user in users %}
          <tr><td class="Section__list-title {{ cycle(['Section__list-title--gray', ''], loop.index0) }}">
            {% if user.firstName and user.lastName %}{{ user.firstName }} {{ user.lastName }}{% endif %}
          </td>
          <td class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
            {{ user.username }}
          </td></tr>
        {% else %}
          No data
        {% endfor %}
      </table>
    </div>
    {% endfor %}

    <div class="Section">
      <h2 class="Section__header">Updates</h2>
      {% set updates = craft.auditr.getUpdates() %}
      <ul class="Section__list">
        <li class="Section__list-item Section__list-item--holder">
          <h3 class="Section__subheader">Craft</h3>
          <ul class="Section__list">
            {% for update in updates.app.releases %}
              <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
                <h4 class="Section__subheader">Version {{ update.version }}, released {{ update.date }}</h4>
                <div class="Section__paragraph">{{ update.notes|raw }}</div>
              </li>
            {% endfor %}
          </ul>
          {% for plugin in updates.plugins %}
            {% if plugin.releases|length %}
              <h3 class="Section__subheader">{{ plugin.displayName }}</h3>
              <ul class="Section__list">
              {% for update in plugin.releases %}
                <li class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
                  <h4 class="Section__subheader">Version {{ update.version }}, released {{ update.date }}</h4>
                  <div class="Section__paragraph">{{ update.notes|raw }}</div>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</div>


</body>
</html>
