{% extends '_layouts/cp' %}
{% includeCssResource "/auditr/css/style.css" %}
{% includeJsResource "/auditr/js/index.js" %}

{% set title = "Auditr" %}

{% set tabs = {
    info: { label: 'Info'|t, url: url('auditr') },
    templates: { label: 'Templates'|t, url: url('auditr/templates') },
    content: { label: 'Content'|t, url: url('auditr/content') },
    plugins: { label: 'Plugins'|t, url: url('auditr/plugins') },
    users: { label: 'Users'|t, url: url('auditr/users') },
    updates: { label: 'Updates'|t, url: url('auditr/updates') },
    pageSpeed: { label: 'Page Speed'|t, url: url('auditr/pageSpeed') },
    settings: {label: 'Settings'|t, url: url('auditr/settings')}
} %}

{% set selectedTab = 'info' %}

{% set content %}

<a class="Export" href="{{ url('auditr/export') }}">Open Audit</a>
{% if craft.auditr.pdfExists %}
  <a class="Export" href="{{ url('auditr/download') }}">Download PDF</a>
  <a class="Export" href="{{ url('auditr/convert') }}">Regenerate PDF</a>
{% else %}
  <a class="Export" href="{{ url('auditr/convert') }}">Generate PDF</a>
{% endif %}

{% from _self import pl %}

<div class="Section">
  <h3 class="Section__header">Basic Info</h3>
  <dl class="Section__list Section__list--defs">
    {% set info = craft.auditr.getInfo() %}
    <dt class="Section__list-title Section__list-title--gray">Site Name:</dt>
    <dd class="Section__list-item Section__list-item--gray"> {{ info.siteName }}</dd>
    <dt class="Section__list-title">Site URL:</dt>
    <dd class="Section__list-item">{{ info.siteUrl }}</dd>
  </dl>
</div>

<div class="Section">
<h3 class="Section__header">Server</h3>
  <dl class="Section__list Section__list--defs">
    {% set serverInfo = craft.auditr.getServerInfo() %}
    <dt class="Section__list-title Section__list-title--gray">Software:</dt>
    <dd class="Section__list-item Section__list-item--gray">{{ serverInfo.software }}</dd>
    <dt class="Section__list-title">Operating System:</dt>
    <dd class="Section__list-item">{{ serverInfo.os }}</dd>
    <dt class="Section__list-title Section__list-title--gray">PHP Version:</dt>
    <dd class="Section__list-item Section__list-item--gray">{{ serverInfo.phpVersion }}</dd>
    <dt class="Section__list-title">Document Root:</dt>
    <dd class="Section__list-item">{{ serverInfo.documentRoot }}</dd>
    <dt class="Section__list-title Section__list-title--gray">Craft Version:</dt>
    <dd class="Section__list-item Section__list-item--gray">{{ serverInfo.craftVersion }}</dd>
  </dl>
</div>

<div class="Section">
  <h3 class="Section__header">.htaccess</h3>
  <a data-toggle>Show / Hide</a>
  <pre class="Section__mono">{{ craft.auditr.getHtaccess() }}</pre>
</div>

{% endset %}
