{% extends '_layouts/cp' %}
{% includeCssResource "/auditr/css/style.css" %}
{% includeJsResource "/auditr/js/index.js" %}

{% set title = "Auditr" %}

{% set tabs = {
    info: { label: 'Info'|t, url: url('auditr') },
    templates: { label: 'Templates'|t, url: url('auditr/templates') },
    content: { label: 'Content'|t, url: url('auditr/content') },
    plugins: { label: 'Plugins'|t, url: url('auditr/plugins') },
    users: { label: 'Users'|t, url: url('auditr/users') },
    updates: { label: 'Updates'|t, url: url('auditr/updates') },
    pageSpeed: { label: 'Page Speed'|t, url: url('auditr/pageSpeed') },
    settings: {label: 'Settings'|t, url: url('auditr/settings')}
} %}

{% set selectedTab = 'templates' %}

{% set content %}

<a class="Export" href="{{ url('auditr/export') }}">Open Audit</a>

<div class="Section">
  <h3 class="Section__header">Routes</h3>
  <dl class="Section__list Section__list--defs Section__list--defs-large">
    {% set routes = craft.auditr.getRoutes() %}
    {% for route in routes %}
    <dt class="Section__list-title {{ cycle(['Section__list-title--gray', ''], loop.index0) }}">
      {% for segment in route.urlParts %}
        {% if segment is not iterable %}
          {{ segment }}
        {% else %}
          <span class="Section__bubble">{{ segment[0] }}</span>
        {% endif %}
      {% endfor %}
    </dt>
    <dd class="Section__list-item {{ cycle(['Section__list-item--gray', ''], loop.index0) }}">
      {{ route.template }}
    </dd>
    {% else %}
      No routes
    {% endfor %}
  </dl>
</div>

{% endset %}
